.logo {
  color: aliceblue;
  width: 220px;
  height: 31px;
  float: left;
  font-size: 32px;
  font-weight: 700;
}

.fix-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.fix-topbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logout {
  float: right;
}
